.headers {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.thumbnail {
  background-color: white;
  text-transform: capitalize;
  img {
    margin-top: 16px;
    margin-bottom: 3px;
  }
  a:hover {
    text-decoration: none !important;
    color: $light-gray;
  }
}
.caption {
  margin-left: 10px;
  img {
    margin-top: 0px !important;
  }
}
.button-1 {
  width: 128px;
}
