.test {
  display: flex;
  p {
    padding-left: 4px;
  }
}
.button-2 {
  width: 128px;
  background-color: white;
  color: $dark-gray;
  margin-left: 4px;
}
.flatpickr {
  display: flex;
  width: 50%;
  align-items: center;
}
.date {
  padding-right: 10px;
}
